// Colors
// ---------------------------------

// Default

$color-default-dark: #2D383F;
$color-default-light: #ffffff;
$background-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-hover : #1C3374;
$color-active: #0266C1;
$color-disabled: rgba(2, 102, 193, 0.1);
$button-text-color: #2D383F;

$overlay-hero: linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0.00) 100%);
$overlay-tour: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 61.90%, rgba(0, 0, 0, 0.00) 100%);
$overlay-burger-menu: rgba(0, 0, 0, 0.50);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;
$ff-primary: "Montserrat",
"Arial",
sans-serif;
$ff-secondary: "Gotham Pro",
"Arial",
sans-serif;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble",
"Arial",
sans-serif;

$ff-placeholder: "Placeholder",
"Arial",
sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-768: 768px;
$vp-1200: 1200px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 2dppx;
